/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/uploads/products
/public/js/app.js.LICENSE.txt
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
node_modules
/.vscode
.env
/public/js/app.js
/public/js/app.js.LICENSE.txt
/public/js/mix-manifest.json
.rnd
web.config