/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/uploads/products
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
node_modules
/.vscode
.env
/public/mix-manifest.json
.rnd
web.config
composer.lock